h1 {
    text-align: center;
    font-size: 100px;
    color: turquoise;
    font-family: "Space Mono";
    margin: 40px;
    text-shadow: 4px 4px 5px white;
}

h2 {
    font-size: 45px;
    font-family: "Cormorant Infant";
    color: turquoise;
    transform: scale(1.5, 1.5);
    text-shadow: 2px 2px black;
}

h4 {
    font-size: 30px;
    color: white;
    font-family: "Cormorant Infant";
}

hr {
    border: 0;
    height: 5px;
    background: black;
    padding: 1.5px;
    margin: auto;
}

.description {
    font-size: 30px;
    font-family: "Cormorant Infant";
    color: white;
    margin: auto;
}

div {
    background-image: url("img_galaxy.jpg");
    background-attachment: absolute;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background: url(img_galaxy.jpg) no-repeat center center fixed;
    background-size: cover;
}

.characters #Evie-Earth {
    font-size: 25px;
    color: white;
    background: linear-gradient(white, green);
    font-family: "Cormorant Infant";
    margin-left: 700px;
    margin-right: 0px;
    float: right;
    margin-bottom: 10px;
    width: 800;
    height: 800;
    transition: width 2s, height 2s, transform 2s;
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

.characters #Evie-Earth:hover {
    width: 800;
    height: 800;
    transform: rotate(360deg);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.characters #Virginia-Venus {
    font-size: 25px;
    color: #FF3333;
    background: linear-gradient(white, yellow);
    font-family: "Cormorant Infant";
    margin-left: 0px;
    margin-right: 700px;
    margin-bottom: 10px;
    float: left;
    width: 800;
    height: 800;
    transition: width 2s, height 2s, transform 2s;
    /*This makes the  */
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

.characters #Virginia-Venus:hover {
    width: 800;
    height: 800;
    transform: rotate(360deg);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.characters #Noah-Neptune {
    font-size: 25px;
    color: white;
    background: linear-gradient(white, blue);
    font-family: "Cormorant Infant";
    margin-left: 700px;
    margin-right: 0px;
    margin-bottom: 10px;
    float: right;
    width: 800;
    height: 800;
    transition: width 2s, height 2s, transform 2s;
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

.characters #Noah-Neptune:hover {
    width: 800;
    height: 800;
    transform: rotate(360deg);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
}

.characters #Steven-Sun {
    font-size: 25px;
    color: white;
    background: linear-gradient(white, orange);
    font-family: "Cormorant Infant";
    margin-left: 0px;
    margin-right: 700px;
    margin-bottom: 10px;
    float: left;
    width: 800;
    height: 800;
    transition: width 2s, height 2s, transform 2s;
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

.characters #Steven-Sun:hover {
    width: 800;
    height: 800;
    transform: rotate(360deg);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.input {
    font-size: 20px;
    margin: 5px;
    font-size: 20px;
    color: white;
    margin: auto;
}

.button {
    border-radius: 5px;
    font-family: "Cormorant Infant";
    color: red;
    font-size: 15px;
    text-align: center;
    background: black;
    padding: 5px 10px 5px 10px;
    margin: 20px;
    height: 30px;
}
